</body>
<footer>
  <br>
  <br>
Copyright 2023 by Andrew Rentschler. All Rights Reserved.<br>
While using Habit Streaker, you agree to have read and accepted our terms of use, cookie and <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">privacy policy</a>.
</footer>
</html>